<section class="features">
  <ul class="features__list">
    <li class="features__card">
      <div class="features__wrap">
        <h3 class="features__title">Investmant Banking</h3>
        <p class="features__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </div>
    </li>
    <li class="features__card">
      <div class="features__wrap">
        <h3 class="features__title">Portfolio Manager</h3>
        <p class="features__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </div>
    </li>
    <li class="features__card">
      <div class="features__wrap">
        <h3 class="features__title">Tax & Custudio</h3>
        <p class="features__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </div>
    </li>
  </ul>
</section>
