<section class="footer">
  <div class="social">
    <ul class="footer-social-list">
    <li class="social-items">
    <a class="footer-social-link" href="" >
    <svg class="social-icon" width="35" height="35">
        <use href="../images/images-footer/footer-icons.svg#icon-facebook"></use>
    </svg>
    </a></li>

    <ul class="footer-social-list">
    <li class="social-items">
    <a class="footer-social-link" href="" >
    <svg class="social-icon" width="35" height="35">
        <use href="../images/images-footer/footer-icons.svg#icon-twitter"></use>
    </svg>
    </a></li>

    <ul class="footer-social-list">
    <li class="social-items">
    <a class="footer-social-link" href="" >
    <svg class="social-icon" width="40" height="35">
        <use href="../images/images-footer/footer-icons.svg#icon-youtube"></use>
    </svg>
    </a></li>

    <ul class="footer-social-list">
    <li class="social-items">
    <a class="footer-social-link" href="" >
    <svg class="social-icon" width="31" height="35">
        <use href="../images/images-footer/footer-icons.svg#icon-linkedin"></use>
    </svg>
    </a></li>
  </div>

  <p class="footer-paragraph">Copyright © 2021 - FinanceLedger</p>
</section>
