<section class="team">
  <p>Who we are</p>
  <h2>Our Professional Team</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>

  <ul>
    <li>
      <div>
        <img src="./images/team/president.jpg" alt="Man" />
        <div class="overlay">
          <!-- <svg>
            <use href=""></use>
          </svg> -->
        </div>
      </div>

      <h3>John Doe</h3>
      <p>President</p>
    </li>

    <li>
      <div>
        <img src="./images/team/vice-president.jpg" alt="Woman" />
        <div class="overlay">
          <!-- <svg>
            <use href=""></use>
          </svg> -->
        </div>
      </div>

      <h3>Jane Doe</h3>
      <p>Vice President</p>
    </li>

    <li>
      <div>
        <img src="./images/team/marketing-head.jpg" alt="Second man" />
        <div class="overlay">
          <!-- <svg>
            <use href=""></use>
          </svg> -->
        </div>
      </div>

      <h3>Steve Smith</h3>
      <p>Marketing head</p>
    </li>
  </ul>
</section>
